<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link navbar-bold" href="/urls">My URLs</a>
        <a class="nav-item nav-link navbar-bold" href="/urls/create">Create New URL</a>
      </div>
      <div class="navbar-nav ml-auto">
        <% if (userID) { %>
        <p class="navbar-nav navbar-message navbar-bold" style="margin-left: 50px; margin-right: 50px">Hello,
          <%= userName %>, you're signed in!</p>
        <form class="navbar-nav" method="POST" action="/users/logout">
          <input type="submit" class="nav-item nav-link navbar-bold link-button" value="Sign Out">
        </form>
        <% } else { %>
        <a class="nav-item nav-link navbar-bold" href="/users/register">Register</a>
        <a class="nav-item nav-link navbar-bold" href="/users/login">Sign In</a>
        <% } %>
      </div>
    </div>
  </nav>
</header>