<!-- This page is used to display error messages. -->

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head.ejs'); %>
</head>

<body>
  <%- include('./partials/_header.ejs'); %>
  <main>
    <h2>Oops ...</h2>
    <p id="message" class="errorMessage"><%= (message) ? message : 'Something went wrong.'; %></p>
    <p>
      <a href="https://github.com/sherwin-kwan/tinyapp/issues">Report a bug?</a>
    </p>
    <div> <% if (userID)  { %> 
      <a class="btn btn-primary" href="/urls">Back to Home</a> <% }  else { %>
      <a class="btn btn-primary" href="/users/register">Register</a>
      <a class="btn btn-primary" href="/users/login">Sign In</a>
      <% } %>
    </div>
  </main>
</body>
<footer>
  <%- include('./partials/_footer.ejs'); %>
</footer>

</html>