<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head.ejs'); %>
</head>

<body>
  <%- include('./partials/_header.ejs'); %>
  <h2>Oops ...</h2>
  <section>Only logged-in users can view that page. Would you like to: </section>
  <a class="btn btn-primary" href="/users/register">Register</a>
  <a class="btn btn-primary" href="/users/login">Sign In</a>
</body>
<footer>
  <%- include('./partials/_footer.ejs'); %>
</footer>

</html>