<!-- This is a template for the EJS templates for this site. This template itself is never called, however it's provided
so it's easy to create new tempaltes by duplicating this -->

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head.ejs'); %>
</head>

<body>
  <%- include('./partials/_header.ejs'); %>
  <!-- Put body here -->
</body>
<footer>
  <%- include('./partials/_footer.ejs'); %>
</footer>

</html>