<!-- Use this as a basic EJS template, copy and paste them
  into your file to create all the other pages -->

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head.ejs'); %>
</head>

<body>
  <%- include('./partials/_header.ejs'); %>
  <!-- Put body here -->
</body>
<footer>
  <%- include('./partials/_footer.ejs'); %>
</footer>

</html>